@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";
@import "heroui-native-pro/styles";

@source "../src/";
@source "../node_modules/heroui-native/lib";
@source "../node_modules/heroui-native-pro/lib";

@theme {
  --font-normal: "Outfit_400Regular";
  --font-medium: "Outfit_500Medium";
  --font-semibold: "Outfit_600SemiBold";
  --font-bold: "Outfit_700Bold";
}

@theme static {
  --floating-tab-bar-height: 0px;
  --floating-tab-bar-bottom-offset: 0px;
  --spacing-floating-tab-bar: 0px;
}

@utility centered {
  @apply items-center justify-center;
}

@utility pb-floating-tab-bar {
  padding-bottom: var(--spacing-floating-tab-bar);
}

@utility pb-floating-tab-bar-* {
  padding-bottom: calc(
    var(--spacing-floating-tab-bar) +
    --spacing(--value(integer))
  );
  padding-bottom: calc(
    var(--spacing-floating-tab-bar) +
    --value([length], --spacing-*)
  );
}

@utility pb-floating-tab-bar-offset-* {
  padding-bottom: calc(
    var(--spacing-floating-tab-bar) +
    --spacing(--value(integer))
  );
  padding-bottom: calc(
    var(--spacing-floating-tab-bar) +
    --value([length], --spacing-*)
  );
}

@layer theme {
  @variant light {
    --surface-shadow: none;
    --field-shadow: 0 0 0 0 transparent;
  }
  @variant dark {
    --surface-shadow: none;
    --field-shadow: 0 0 0 0 transparent;
  }
}
